<h2><b>Users</b></h2>
<table>
    <thead>
        <tr>
            <th>Fname</th>
            <th>Lname</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.fname%></td>
            <td><%= user.lname%></td>
            <td><%= link_to 'View User', user, class:"btn btn-primary" %></td>
          </tr>
        <% end %>
    </tbody>
</table>
<%= link_to 'New User', new_user_path, class:"btn btn-secondary" %>